@{
    ViewData["Title"] = "About";
}
<H2>MYSQL连接信息：</H2>
<table>
    <tr>
        <td>
            MYSQL_HOST
        </td>
        <td>
            @ViewData["MYSQL_HOST"]
        </td>
    </tr>
    <tr>
        <td>
            MYSQL_PORT
        </td>
        <td>
            @ViewData["MYSQL_PORT"]
        </td>
    </tr>
    <tr>
        <td>
            MYSQL_USER
        </td>
        <td>
            @ViewData["MYSQL_USER"]
        </td>
    </tr>
    <tr>
        <td>
            MYSQL_PASSWORD
        </td>
        <td>
            @ViewData["MYSQL_PASSWORD"]
        </td>
    </tr>
    <tr>
        <td>
            MYSQL_DATABASE
        </td>
        <td>
            @ViewData["MYSQL_DATABASE"]
        </td>
    </tr>

</table>

